header {
    position: absolute;
}

#first-section {
    background: url(/images/header-image.jpg);
    margin: 0;
    height: 59rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#first-section-div {
    padding: 25rem 56rem 0 5rem;

}

#black-bg {
    padding: 3.1rem;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgb(26, 24, 24);
}

section{
    padding-bottom: 1rem;
    background: radial-gradient(rgb(203, 221, 230), rgb(230, 242, 248));
}

.container article{
    margin-top: 3rem;
}

.container h2{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    padding-top: 3rem;
    margin-top: 4rem;
}

#services{
    text-align: left;
    margin-left: 19rem;
}

#sub-head {
    margin: 0;
    text-transform: capitalize;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: rgb(14, 14, 14);
    font-weight: 700;
    font-size: 2rem;
    text-align: left;
}

#first-section-div p {
    color: black;
    font-weight: 400;
}

#discover {
    background: linear-gradient(45deg, rgb(255, 123, 0), rgb(251, 153, 61));
    padding: 1.5rem 2.5rem;
    color: whitesmoke;
    border-radius: 20px;
    font-size: 1.3rem;
    display: inline-block;
    margin-top: 6.3rem;
}

#discover:hover {
    background: linear-gradient(90deg, rgb(254, 148, 49), rgb(253, 174, 101));
}

.round-image {
    width: 16rem;
    height: 16rem;
    object-fit: cover;
    border-radius: 125px;
    position: absolute;
}

#first-rounded {
    top: 24.4rem;
    right: 6.25rem;
}

#second-rounded {
    top: 36.9rem;
    right: 18.8rem;
}

#third-rounded {
    top: 38.8rem;
    right: 36.3rem;
}

#top-destinations{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-inline-start: 0;
}

#top-destinations li{
    background-color: rgb(212, 207, 207);
    width: 18.8rem;
    margin: 0 1.25rem;
    overflow: hidden;
    border-radius: 0 80px 0 80px;
    box-shadow: 2px 2px 2px rgba(69, 68, 68, 0.5);
}

#top-destinations li:hover{
    box-shadow: 3px 3px 8px rgba(69, 68, 68, 0.5);
}

.top-destinations-images{
    object-fit: cover;
    width: 100%;
    height: 50%;
}

.destinations-cards{
    padding: 1.25rem 1.9rem 0 1.9rem;
}

.destinations-cards h4{
    color: rgb(62, 62, 62);
}

.country{
    color: rgb(139, 37, 12);
}

.destinations-cards p{
    color: rgb(1, 1, 28);
    font-family: none;
}

.explore{
    text-align: end;
}

.explore a{
    display: inline-block;
    margin: 0.8rem 1.5rem 1.25rem 0;
    color: rgb(255, 123, 0);
    font-size: 1.2rem;
    padding: 1rem 1rem;
    border-radius: 35px;
}

.explore a:hover{
    background-color: rgb(255, 123, 0);
    color: whitesmoke;
}

#down-anchor{
    color: rgb(71, 70, 70);
}

#down{
    display: block;
    margin: 4rem auto 0 auto;
    width: 4.5rem;
}

#services-list{
    padding-left: 4rem;
    padding-right: 4rem;
    color: rgb(26, 24, 24);
}

#services-list ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#services-list ul li{
    margin-bottom: 2rem;
}

#services-list ul li h4{
    font-size: 1.3rem;
    margin: 0;
}

#services-list ul li p{
    margin: 0;
}

.services-grid{
    display: flex;
    align-items: center;
}

.info{
    margin-top: 0.625rem;
    margin-left: 3.5rem;
    width: 60%;
}

.info a{
    display: inline-block;
    padding-top: 1.25rem;
    color: rgb(255, 123, 0);
    text-shadow: 0.5px 0.5px 1px rgb(255, 123, 0);
}

.info a:hover{
    text-decoration: underline;
    text-decoration-style: double;
}

.iconss{
    border: 2px solid black;
    margin-right: 1.9rem;
    border-radius: 14px;
}

.iconss img{
    width: 1.25rem;
}

#news{
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news-cards{
    width: 25rem;
    height: 25rem;
    background-color: rgb(212, 207, 207);
    box-shadow: 2px 2px 2px rgba(69, 68, 68, 0.5);
    border-radius: 5px;
    overflow: hidden;
}

.news-cards:hover{
    box-shadow: 3px 3px 8px rgba(69, 68, 68, 0.5);
}

.news-list{
    margin-right: 3.75rem;
}

.news-cards img{
    object-fit: cover;
    width: 100%;
    height: 60%;
}

.news-cards-para{
    padding: 0.31rem 2.5rem;
}

.news-letters h4{
    margin-top: 0.31rem;
    margin-bottom: 0.375rem;
}

.news-letters p{
    font-family: none;
}

.time{
    color: rgb(139, 37, 12);
    display: flex;
    align-items: center;
    margin-bottom: -0.625rem;
}

.time svg{
    width: 1.125rem;
    margin-right: 0.625rem;
}

#read-more{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#read-more a{
    display: inline-block;
    padding: 1.25rem 2.5rem;
    background: linear-gradient(90deg, rgb(255, 123, 0), rgb(251, 153, 61));
    color: whitesmoke;
    border-radius: 15px;
    box-shadow: 3px 3px 8px rgba(69, 68, 68, 0.5);
}

#read-more a:hover{
    background: linear-gradient(90deg, rgb(254, 148, 49), rgb(253, 174, 101));
    box-shadow: 3px 3px 10px rgba(69, 68, 68, 0.5);
}


@media (max-width:1450px) {
    .round-image {
        width: 14rem;
        height: 14rem;
    }

    #first-rounded {
        top: 24.4rem;
        right: 6.25rem;
    }
    
    #second-rounded {
        top: 38rem;
        right: 13.8rem;
    }
    
    #third-rounded {
        top: 40rem;
        right: 29rem;
    }

    #first-section-div {
        padding: 25rem 48rem 0 5rem;
    
    }
}

@media (max-width:1350px) {
    .news-cards{
        width: 22rem;
    }

    .explore a{
        font-size: 1rem;
    }
}

@media (max-width:1300px) {
    .explore a{
        margin: 0.8rem 1.5rem 1.25rem 0;
        padding: 0.5rem 0.5rem;
    }

    #top-destinations li{
        border-radius: 0 60px 0 60px;
    }
}

@media (max-width:1220px) {
    .news-cards{
        width: 20rem;
    }

    .explore a{
        margin: 0.8rem 1.5rem 2rem 0;
        padding: 0.5rem 0.5rem;
    }

    #first-section-div {
        padding: 25rem 45rem 0 5rem;
    
    }
}